<%= simple_form_for [outfit, review] do |f| %>
  <div class="star-rating">
    <% 5.times do |i| %>
      <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
    <% end %>
  </div>
  <%= f.input :comment %>
  <%= f.submit 'Submit review', class: 'btn btn-primary' %>
<% end %>
