<div class="container my-4">
  <h1>Outfits</h1>
</div>
<div class="grid">
  <div class="card-outfit">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-outfit-infos">
      <div>
        <% @outfits.each do |outfit| %>
          <%= outfit.name %>
          <%= outfit.location %>
          <%= outfit.size %>
          <%= outfit.price %>
          <%= outfit.color %>
          <%= outfit.description %>
          <%= outfit.category %>
        <% end %>
      </div>
      <h2 class="card-outfit-pricing">¥5000</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-outfit-user avatar-bordered" />
    </div>
  </div>
</div>
