<%= simple_form_for(@outfit) do |f| %>
  <%= f.input :name %>
  <%= f.input :size %>
  <%= f.input :color %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :location %>
  <%= f.input :photo, as: :file %>
<% end %>

<button type="button" class="mt-2 btn btn-dark"><%= link_to "â†", outfits_path %></button>
