<div class="container row justify-content-center mw-100 my-5">
  <div class="col-lg-3 col-sm-6">
    <%= simple_form_for(@outfit) do |f| %>
      <%= f.input :name %>
      <%= f.input :size, as: :radio_buttons, collection: ['extra small', 'small', 'medium', 'large', 'extra large'], wrapper: :vertical_collection_inline%>
      <%= f.input :color %>
      <%= f.input :description %>
      <%= f.input :category, as: :select, collection: ['Casual', 'Formal', 'Costume', 'Bussiness', 'Club', 'Datenight'] %>
      <%= f.input :price, input_html: { min: 0 }, placeholder: '¥'%>
      <%= f.input :address %>
      <%= f.input :photo, as: :file %>
      <%= f.submit 'Add listing', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div>l</div>
