<div class="container">
  <div id="show-container">
    <%= image_tag @outfit.image_url, alt: "outfit image", id: 'show-image' %>
    <div id="show-price">
      <h2>¥<%= @outfit.price %></h2>
    </div>
  </div>
  <div class="row gy-3">
    <div class="col-12 col-md-8">
      <h2><%= @outfit.name.capitalize %></h2>
      <p><%= @outfit.description %></p>
      <table>
        <tbody>
          <tr>
            <td>Category</td>
            <td><%= @outfit.category %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= @outfit.size %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-4 form-booking">
      <%= render 'booking_form', outfit: @outfit, booking: @booking %>
    </div>
  </div>
</div>