<div class="container">
  <div id="show-image" style="background-image: linear-gradient(0deg, rgba(240, 240, 240, 0.4), rgba(240, 240, 240, 0.4)), url(<%= @outfit.image_url %>);">
    <%= image_tag @outfit.image_url, alt: "outfit image", id: 'show-image-top' %>
  </div>
  <div class="row my-3 gy-3">
    <div class="col-12 col-md-8">
      <h2 class="mb-3"><%= @outfit.name.capitalize %></h2>
      <div class="d-flex align-items-center gap-2">
        <p><%= image_tag @outfit.user.avatar, alt: 'avatar', class: "avatar-bordered" %></p>
        <p><strong><%= @outfit.user.first_name.capitalize %></strong></p>
      </div>
      <p class="mt-2"><%= @outfit.description %></p>
      <table class="table w-50">
        <tbody>
          <tr>
            <td><strong>Category</strong></td>
            <td><%= @outfit.category %></td>
          </tr>
          <tr>
            <td><strong>Size</strong></td>
            <td><%= @outfit.size.capitalize %></td>
          </tr>
          <tr>
            <td><strong>Price per day</strong></td>
            <td>¥<%= @outfit.price %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-4 form-booking">
      <%= render 'booking_form', outfit: @outfit, booking: @booking %>
    </div>
  </div>
</div>