<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="d-flex justify-content-between align-items-center">
        <h2>My listings</h2>
        <%= link_to 'New listing', new_outfit_path, class: 'btn btn-primary'%>
      </div>
      <br>
      <% if @outfits.empty? %>
        <p>No listings yet...</p>
      <% else %>
        <% @outfits.each do |outfit| %>
          <div class="card">
            <p class="card-outfit-pricing" id="card-booking-price"><strong>¥<%= number_with_delimiter(outfit.price) %></strong><span>/day</span></p>
            <div class="d-flex">
              <% if outfit.photos.attached? %>
                <%= cl_image_tag outfit.photos[0].key, class: "card-image" %>
              <% else %>
                <%= image_tag outfit.image_url, class: "card-image" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><strong><%= outfit.name %></strong></h5>
                <p><%= truncate(outfit.description, length: 45, omission: '... ') %></p>
                <div class="d-flex gap-2">
                  <p class="booking-info-tag"><%= outfit.category %></p>
                  <p class="booking-info-tag"><%= outfit.size.capitalize %></p>
                </div>
              </div>
            </div>
            <h5 style="margin-left: 16px;"><strong>Booking requests:</strong></h5>
            <ul class="list-group list-group-flush">
              <% if @bookings.where(outfit: outfit).present? %>
                <li class="list-group-item">
                  <div class="bookings">
                    <% @bookings.where(outfit: outfit).each do |booking| %>
                      <div class="booking">
                        <div class='booking-left'>
                          <%= image_tag booking.user.avatar, class: 'avatar-large' %>
                          <div class="booking-info">
                            <div class="booking-info-title">
                              <%= booking.user.first_name.capitalize %>
                            </div>
                            <div class="booking-info-details">
                              <%= booking.start_date %> - <%= booking.end_date %>
                            </div>
                            <div class="booking-info-details">
                              <%= booking.comment %>
                            </div>
                          </div>
                        </div>
                        <div class="booking-actions">
                          <% if booking.pending? %>
                            <%= simple_form_for booking do |f| %>
                              <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                              <%= f.submit 'Accept', class: 'btn btn-info' %>
                            <% end %>
                            <%= simple_form_for booking do |f| %>
                              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                              <%= f.submit 'Reject', class: 'btn btn-light' %>
                            <% end %>
                          <% else %>
                            <p class='booking-tag'><%= booking.status %></p>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </li>
              <% else %>
                <p class="mt-3" style="margin-left: 16px">No booking requests yet...</p>
              <% end %>
            </ul>
          </div>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
