<div class="card">
  <div class="d-flex">
    <% if outfit.photos.attached? %>
      <%= cl_image_tag outfit.photos[0].key, class: "card-image" %>
    <% else %>
      <%= image_tag outfit.image_url, class: "card-image" %>
    <% end %>
    <%= image_tag booking.outfit.user.avatar, alt: 'avatar', id: "avatar-booking", class: "avatar-bordered mt-2" %>
    <div class="card-body">
      <h5 class="card-title"><strong><%= booking.outfit.name %></strong></h5>
      <p class="card-text m-0"><strong>Price per day:</strong> ¥<%= booking.outfit.price %></p>
      <p class="card-text m-0"><strong>Comment:</strong> <%= booking.comment.capitalize %></p>
      <p class="card-text m-0"><strong>Start date:</strong> <%= booking.start_date %></p>
      <p class="card-text m-0"><strong>End date:</strong> <%= booking.end_date %></p>
      <p id="status"><strong><%= booking.status.capitalize %></strong></p>
    </div>
  </div>
</div>
