<div class="card">
  <div class="d-flex">
    <% if outfit.photos.attached? %>
      <%= cl_image_tag outfit.photos[0].key, class: "card-image" %>
    <% else %>
      <%= image_tag outfit.image_url, class: "card-image" %>
    <% end %>
    <%= image_tag booking.outfit.user.avatar, alt: 'avatar', id: "avatar-booking", class: "avatar-bordered mt-2" %>
    <p class="card-outfit-pricing" id="card-booking-price"><strong>¥<%= number_with_delimiter(booking.outfit.price) %></strong><span>/day</span></p>
    <div class="card-body">
      <%= link_to '', outfit_path(booking.outfit), class: 'card-link' %>
      <h5 class="card-title"><strong><%= booking.outfit.name %></strong></h5>
            <p class="card-text m-0"><%= booking.start_date.strftime('%b %d %Y') %> - <%= booking.end_date.strftime('%b %d %Y') %></p>
      <p class="card-text mt-2"><strong>Comment:</strong> <%= booking.comment.capitalize %></p>
      <p id="status"><%= booking.status %></p>
    </div>
  </div>
</div>
