<div class="card-outfit">
  <img src=<%= outfit.photo.attached? ? cl_image_tag(outfit.photo.key) :  '/assets/hero.jpg'%>>
  <h2 class="category"> Category: <%= outfit.category %></h2>
  <h2 class="size"> <%= outfit.size.upcase %></h2>
  <div class="card-outfit-infos">
    <div>
      <h2><%= outfit.name.capitalize %></h2>
      <p><%= truncate(outfit.description, length: 45, omission: '... ') %></p>
    </div>
    <h2 class="card-outfit-pricing">¥<%= outfit.price %></h2>
    <%= image_tag outfit.user.avatar, class: "card-outfit-user avatar-bordered" %>
  </div>
</div>
