<div class="card-outfit">
  <% if outfit.photo.attached? %>
    <%= cl_image_tag outfit.photo.key %>
  <% else %>
    <%= image_tag outfit.image_url %>
  <% end %>
  <h2 class="category"><%= outfit.category %></h2>
  <h2 class="size"> <%= outfit.size.upcase %></h2>
  <div class="card-outfit-infos">
    <div>
      <h2><%= outfit.name.capitalize %></h2>
      <p><%= truncate(outfit.description, length: 45, omission: '... ') %></p>
    </div>
    <h2 class="card-outfit-pricing">¥<%= outfit.price %></h2>
    <%= image_tag outfit.user.avatar, class: "card-outfit-user avatar-bordered" %>
  </div>
  <%= link_to '', outfit_path(outfit), class: 'card-link' %>
</div>
